body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lavender;
    overflow-x: hidden;
}

#container{
    height: calc(100% - 85px - 50px); /*write score cointainer#board &&  #scoreAnimation */ 
    overflow-y: scroll;
    width: 100%;
    margin: 60px 0px 0px 25px;
}

.card_outer{
    width: 260px;
    height: 340px;
    background: transparent;
    perspective: 1200px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}

.card_inner{
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 0.45s ease;
}

.front,.back{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #020024 0%, #282879 35%, #00d4ff 100%);
    backface-visibility: hidden;
    border-radius: 35px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);

}
.back{
    transform: rotateY(180deg);
}

#board{
    position: fixed;
        bottom: 10px;
        left: calc(50% - 450px/2);
    margin: auto;
    height: 85px;
    width: 450px;
    border: 4px solid black;
    text-align: center;
    margin-top: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#scoreAnimation{
    border: 2px solid black;
    border-radius: 50%;

    width: 60px;
    height: 50px;

    position: absolute;
        top: 5px;
        right: 0px;

    opacity: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    text-align: center;
}

@keyframes scaleNone{
    0%{
        background: linear-gradient(45deg, #02002400 0%, #28287900 35%, #ffffff00 100%);
        transform: scale(1);
        opacity: 1;
    }
    100%{
        background: linear-gradient(45deg, #02002400 0%, #28287900 35%, #ffffff00 100%);
        transform: scale(1.2);
        opacity: 0;
    }
}